.wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.text {
    text-align: center;
}

.status.online {

    color: green;
}

.status.offline {

    color: red;
}