.profile__block {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 250px;
    /* padding: 5px 7px; */
    padding-top: 10px;
    margin-inline: auto;

    text-align: center;
    font-family: 'Roboto', sans-serif ;
    font-weight: 500;
    font-size: 12px;
    color: #000;

    background-color: #fafafa;

    border: 2px solid black;
    border-radius: 8px;

    overflow: hidden;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.profile__img {
    width: 80px;
}

.profile > p {
    margin: 0;
}

.text {
    color: #808080;
}

.name {
    font-size: 16px;
    font-weight: 700;
    color: inherit;
}

.tag {

}

.location {

}

.stats__list {
    display: flex;

    /* gap: 10px; */

    list-style: none;
    margin: 0;
    padding: 0;
}

.stats__item {
    display: flex;
    flex-direction: column;
    /* flex: 0 1 33.333%; */
    flex: 1;

    background-color: #d3d3d3;

    padding: 5px 7px;
    border-top: 1px solid black;
}


.stats__item:not(:last-child) {
    border-right: 1px solid black;
}

.stats__item:not(:last-child) {
    /* margin-right:  -1px; */
}

.stats__item > span:first-child {
    font-size: 14px;
    font-weight: 700;
}